<footer
  class="mt-16 bg-primary-500/10 py-16 dark:bg-primary-400/10 lg:mt-20 lg:py-20"
  aria-labelledby="footer-heading"
>
  <div class="container mx-auto flex flex-col flex-wrap px-5 py-4 sm:flex-row justify-between">
    <p class="text-black text-center text-sm sm:text-left">
      © 2024 Firsta Royan. All rights reserved.
    </p>
    <p class="text-black text-center text-sm sm:text-left">
      Made with Astro and hosted on Cloudflare Pages
    </p>
  </div>
</footer>

<!-- const bottomLinks = [
  {
    header: 'Social',
    links: [
      {
        name: 'Github',
        href: 'https://github.com/terisuke',
        isExternal: true,
      },
      {
        name: 'X(Twitter)',
        href: 'https://twitter.com/Cor_instrument',
        isExternal: true,
      },
      {
        name: 'Instagram',
        href: 'https://www.instagram.com/terisuke1115/',
        isExternal: true,
      },
      {
        name: 'Facebook',
        href: 'https://www.facebook.com/kousuke.terada.35',
        isExternal: true,
      },
    ],
  }
]; -->
