---
import Layout from '../layouts/Layout.astro';
---

<Layout description="A bit about me" title="About · Firsta Royan">
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
        <img
          class="mx-auto h-auto w-full max-w-xl rounded-3xl"
          width="576"
          height="864"
          src="https://media.licdn.com/dms/image/C5603AQGMjYiQow1Odg/profile-displayphoto-shrink_800_800/0/1595163792258?e=1720656000&v=beta&t=WZkUZZZLfNwZhgjmq9-JMx76Tj9xHhiB0tzEmqMwxYo"
          alt="Our experts working together"
        />
        <div class="flex flex-col gap-10">
          <div class="space-y-8 sm:space-y-12">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
              Hi there! I'm Firsta Royan 👋
            </h2>
            <div class="space-y-6">
              <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                I'm deeply passionate about everything related to computers. My journey began in
                2015 when curiosity led me to try my hand at building a theme for Blogspot. Little
                did I know, tweaking layouts and experimenting with colors would be my gateway of
                learning software engineering!

                <br />
              </p>
              <br />

              <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                But my professional journey had only started from 2021 and I've been fortunate
                enough to bring my skills and enthusiasm to a variety of environments — from
                innovative startups to large multinational corporations and dynamic software houses.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
