---
const projects = [
  {
    step: '01',
    url: '/projects/taksi',
    name: 'Sistem Informasi Tertib Administrasi Konstruksi (TAKSI)',
    description:
      'A digital platform for all aspects of construction management, including planning, budgeting, execution, monitoring, and reporting tailored for Ministry of Public Works and Public Housing Indonesia',
  },
  {
    step: '02',
    url: '/projects/lead',
    name: 'Learning and Development Dashboard (LEAD)',
    description:
      'Web based software solution designed to facilitate continuous professional development and improve operational efficiency among MRT Jakarta staff.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Showcase</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          projects.map((project) => (
            <a href={project.url} class="cursor-pointer">
              <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                <p class="text-sm">{project.step}</p>
                <div class="flex flex-col gap-4">
                  <h3 class="text-xl font-medium">{project.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                    {project.description}
                  </p>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
